@model IEnumerable<EmprestimoModel>


<div class="container-fluid">
    <div class="d-flex justify-content-between align-itens-center mb-4">
        <h2>Empréstimos</h2>
        <a class="btn btn-success" asp-controller="Emprestimo" asp-action="Cadastrar" style="width: 320px; height: 38px; display: inline-flex; align-items: center;"><i class="bi bi-file-earmark-plus mx-2"></i>Cadastrar novo empréstimo</a>
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-light text-center" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-light text-center" role="alert">
            @TempData["MensagemErro"]
        </div>
    }


    <table id="Emprestimos" class="table table-light table-hover mt-2" style="font-size: 13px;" >
        <thead>
            <tr>
                <th scope="col">Recebedor</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Livro</th>
                <th scope="col">Última Atualização</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach(var emprestimo in Model)
                {
                    <tr>
                        <th scope="row">@emprestimo.Recebedor</th>
                        <td scope="row">@emprestimo.Fornecedor</td>
                        <td scope="row">@emprestimo.LivroEmprestado</td>
                        <td scope="row">@emprestimo.DataUltimaAtualizacao</td>
                        <td>
                            <a class="btn btn-warning mx-2" asp-controller="Emprestimo" asp-action="Editar" asp-route-id="@emprestimo.Id" style="width: 115px; height: 28px; display: inline-flex; align-items: center; justify-content: center; text-transform: none;"><i class="bi bi-pencil-square mx-2"></i>Editar</a>
                            <a class="btn btn-danger mx-2" asp-controller="Emprestimo" asp-action="Excluir" asp-route-id="@emprestimo.Id" style="width: 120px; height: 28px; display: inline-flex; align-items: center; justify-content: center; text-transform: none;"><i class="bi bi-trash mx-2"></i> Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>